.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.footerLink {
  color: var(--text-default);
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}
